body {
  margin: 0px 0px 0px 0px;
} 
hr {
  margin: 0px;
}
a {
  cursor: pointer;
  color:#449;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin-top:1px;
  margin-bottom:1px;
  padding-left:2px;
}
li {
  list-style-type: none;
}
#menu {
  font-weight:bold;
  color:#ccd;
  padding: 4px 2px 4px 2px;
  background: -moz-linear-gradient(top, #668, #556);
  background: -webkit-gradient(linear, left top, left bottom, from(#668), to(#556));
  border-bottom: solid 1px #333;
}
.disconnected{
  color:#f99;
}

#all-haxe-files {
  float:left;
  width:25%;
  height: 96%;
  border-right: solid 1px rgb(159, 159, 159);
  font-size:small;
  font-family: arial,sans-serif;
}
#editor { 
    position: relative;
    height: 70%;
}
#compile-error-panel { 
    position: relative;
    height: 20%;
}
#task-list-view {
    height: 16px;
}
#task-list-view .task-view {
    font-size:small;
    border: 1px solid #888;
    margin-left:5px;
    color: #666;
    background-color: #ddd;
    border-radius: 7px;
    -moz-box-shadow: 1px 1px 3px #999;
    -webkit-box-shadow: 1px 1px 3px #999;
    font-family: arial,sans-serif;
    text-align: center;
    width:120px;
    height: 14px;
    float:left;
}
#compile-errors { 
    font-size:small;
    font-family: arial,sans-serif;
}
.file_selector_dir {
  color: #aaa;
  cursor: pointer;
}
.file_selector_dir:hover {
  text-decoration: underline;
}
.folder {
  margin-top: 1px;
}
.folder ul {
  margin-left: 16px;
}
.openMark {
  margin-right: 2px;
  border: 1px solid #668;
  background-color: #ccd;
  color: #668;
  width: 15px;
  height: 14px;
  float:left;
  cursor: pointer;
  text-align:center;
}
.closeMark {
  margin-right: 2px;
  border: 1px solid #668;
  background-color: #ccd;
  color: #668;
  width: 15px;
  height: 14px;
  float:left;
  cursor: pointer;
  text-align:center;
}
