body {
  margin: 0px 0px 0px 0px;
} 
hr {
  margin: 0px;
}
a {
  cursor: pointer;
  color:#444499;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin-top:1px;
  margin-bottom:1px;
  padding-left:2px;
}
li {
  list-style-type: none;
}
#all-haxe-files {
  float:left;
  width:20%;
  height: 100%;
  border-right: solid 1px rgb(159, 159, 159);
  font-size:small;
  font-family: arial,sans-serif;
}
#editor { 
    position: relative;
    height: 80%;
}
#compile-errors { 
    position: relative;
    height: 20%;
    font-size:small;
    font-family: arial,sans-serif;
}

.file_selector_flat_dir {
  color: #aaaaaa;
}